<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841319482952-j9g8gui0iendf9fggmq4rafbobclcauh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841319482952-j9g8gui0iendf9fggmq4rafbobclcauh</string>
	<key>API_KEY</key>
	<string>AIzaSyC755kN4sMBLGY5iMt2hcQCt3UkjYZztoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>841319482952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialMedia</string>
	<key>PROJECT_ID</key>
	<string>wall-3b7c2</string>
	<key>STORAGE_BUCKET</key>
	<string>wall-3b7c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841319482952:ios:8f876e5c7852f2056e7a7d</string>
</dict>
</plist>